body {
  background: #FBFBFB;
}
.grid {
  display: grid;
  height: 800px;
  width: 1920px;
  grid-template-columns: 300px 400px auto repeat(2, 300px);
  grid-template-rows: repeat(8, 100px)
}
.hidden {
  display: none;
}
.


.input-css, button {
  width: 275px;
  height: 50px;
  border-width: 2px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
.img {
  width: 400px;
  height: 300px;
}
.cuisine{
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
}

.cuisine-text{
  font-size: 25px;
  color: black;
}

#menu{
  grid-column: 4/5;
  grid-row: 4/5;
  text-align: center;
}

.menu-text {
font-size: 35px;
color: black;
}

.menu-text:hover {
color: gold;
}

a {
  text-decoration: none !important;
}

.rating-style {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: blue;
  color: white;
  height: 35%;
}
#restaurant-rating {
  font-size: 40px;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: end;
  align-self: flex-end;
}

#image {
  grid-row: 4/7;
  grid-column: 2/3;
}
#cuisine-input {
  width: 80%;
  justify-self: center;
  height: 50px;
  align-self: end;
  grid-row: 6/7;
  grid-column: 3/4 ;
}
#cuisine-find-btn {
  margin: 0 auto;
  margin-top: 30px;
  align-self: start;
  justify-self: center;
  grid-row: 7/8;
  grid-column: 3/4 ;
}

.restaurant-name {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  align-self: center;
  align-content: center;
  grid-row: 2/4;
  grid-column: 3/4;
}

.restaurant-location{
  text-align: center;
  word-wrap: break-word;
  font-size: 35px;
  align-self: start;
  align-content: center;
  grid-row: 4/5;
  grid-column: 3/4;
}


p.restaurant-neighborhood {
  font-size: 30px;
  grid-row: 5/6;
  grid-column: 3/4;
text-align: center;

}

.cost42 {
  grid-column: 4/5;
  grid-row: 2/3;
}
p .cost-text {
 font-size: 32px;
}

.average-cost {
  text-align: center;
}

p .price-text {
  font-size: 55px;
}




#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#loginWGithub {
  top: 20px;
  background-color: #4CAF50;
}

#loginWGoogle {
  top: 80px;
  background-color: #2196F3;
}
