*{
  box-sizing: border-box;
}

body {
  /* width: 100%;
  height: 100%; */
  background-image: url("../images/backgroundAtFullFill.jpg");
  background-position: 0% 10%;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  overflow-x: hidden;
  /* background-position: center; */
}



#home-button {
  text-align: center;
  align-self: center;
  grid-row: 2/3;
  grid-column: 3/4;
}

#logo {
  width: 140px;
  height: 140px;
}


.grid {
  display: grid;
  height: 100%;
  width: 1420px;
  grid-template-columns: 3fr 3fr 5fr 3fr 3fr;
  grid-template-rows: repeat(2, 100px) 200px repeat(6, 100px);
  margin: auto;
  /* position: relative; */
}

p, h1, h2, h3 {
  color: white;
}

.input-css, button {
  width: 275px;
  height: 50px;
  border-width: 2px;
}

h1, h3 {
  text-align: center;
}


.img {
  width: 250px;
  height: 200px;
}

.cuisine {
  position: relative;
  top: 10px;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.cuisine-text p {
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: black;
}

#menu {
  grid-column: 1/3;
  grid-row: 5/6;
  align-self: flex-end;
  text-align: center;
  border-radius: 5px;
  padding: -25px;
}

a:hover {
  text-decoration: none !important;
}


.menu-text {
font-size: 35px;
color: white;
}

.rating-style {
  color: black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 50px;
}

#restaurant-rating {
  color: black;
  font-size: 50px;
  grid-row: 6/7;
  grid-column: 4/5;
  justify-self: center;
  align-self: center;
}

.out-of-5 {
 font-size: 20px;
 opacity: 0.7;
}

.word-rating {
  font-size: 25px;
}


#cuisine-input {
  position: relative;
  left: 80px;
  width: 70%;
  justify-self: center;
  height: 50px;
  align-self: flex-start;
  grid-row: 4/5;
  grid-column: 2/4 ;
}

#cuisine-find-btn {
  background: #ffa500;
  font-size: 11px;
  width: 25%;
  position: relative;
  left: 405px;
  grid-row: 4/5;
  grid-column: 3/5 ;
}

#cuisine-find-btn:hover {
  opacity: 0.8;
}

.restaurant-name {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  align-content: center;
  grid-row: 3/4;
  grid-column: 2/4;
  border-radius: 5px;
}

.restaurant-location {
  text-align: center;
  word-wrap: break-word;
  font-size: 40px;
  font-weight: 200;
  align-self: center;
  grid-row: 3/4;
  grid-column: 1/6 ;
  border-radius: 5px;
}

p.restaurant-neighborhood {
  width: 100%;
  height: 100%;
  font-size: 25px;
  grid-row: 4/5;
  grid-column: 3/4;
  text-align: center;

}

.cost42 {
  align-self: center;
  grid-column: 4/5;
  grid-row: 5/6;
}

p .cost-text {
  color: black;
 font-size: 25px;
}

.average-cost {
  font-size: 20px;
  color: black;
  text-align: center;
}

p .price-text {
  font-size: 40px;
}

#signin-text{
  grid-row: 1/2;
  grid-column: 3/4;
  font-size: 15px;
  color: black;
}
  .bttn2 {
    font-size: 15px;
    border-radius: 8px;
    color:white;
    height: 30px;
    width: 120px;
    background: #ffa500;
  }
  .bttn1 {
    grid-row: 1/2;
    grid-column: 4/5;
    border-radius: 8px;
    background: #ffa500;
    font-size: 15px;
    height: 30px;
    width: 120px;
    color: white;
  }
  .signbttn {
    grid-column: 4/5;
    grid-row: 1/2;
    color: black;
    font-size: 20px;
  }
  .bttn1 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .bttn2 {-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

  }

  .bttn1:hover {
    opacity: 0.8;
    text-decoration: none !important;
  }
  .bttn2:hover {
    opacity: 0.8;


  }
